# JPEG Snack encoder input parameters configuration.

#default image is the background image on which the composition is made. 
Default image path = "C:\Dev\Db_JPEG_Systems\Dbench_JPSnack\db_jpsnack\background.jpg"

Version = 1
start time = 2000
No. of compositions = 1
No. of Objects = 1
Object IDs = 1


Object = 1 
# attributes
ID = 1
Type = static
Object Type = Image
Media Type = image/jpg
Style =  NULL   # optional => NULL means "not present"
Opacity = NULL  # optional => default is 1 => NULL means "Not present"
No. of Media = 6

# Paths => Where are the files present
media file 1 path = "C:\Dev\Db_JPEG_Systems\Dbench_JPSnack\db_jpsnack\photo_slides\I1.jpg"
media file 2 path = "C:\Dev\Db_JPEG_Systems\Dbench_JPSnack\db_jpsnack\photo_slides\I2.jpg"
media file 3 path = "C:\Dev\Db_JPEG_Systems\Dbench_JPSnack\db_jpsnack\photo_slides\I3.jpg"
media file 4 path = "C:\Dev\Db_JPEG_Systems\Dbench_JPSnack\db_jpsnack\photo_slides\I4.jpg"
media file 5 path = "C:\Dev\Db_JPEG_Systems\Dbench_JPSnack\db_jpsnack\photo_slides\I5.jpg"
media file 6 path = "C:\Dev\Db_JPEG_Systems\Dbench_JPSnack\db_jpsnack\photo_slides\I6.jpg"

# location in the file? provide label for jumbf box
location1 label = Object1
location2 label = Object2
location3 label = Object3
location4 label = Object4
location5 label = Object5
location6 label = Object6

# Instructions
Repetition = 1
TICK = 1000
Horizontal offset (XO) = 0
Vertical offset (YO) = 0
Width = 1920
Height = 1080
PERSIST = 0
LIFE = 12
NEXT USE = 0 # NULL means "not present"
XC = NULL
YC = NULL
WC = NULL
HC = NULL
ROTATION = NULL


